@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

// colors
$bg-main-color: hsl(217, 54%, 11%);
$bg-card-color: hsl(216, 50%, 16%);
$heading-color: hsl(0, 0%, 100%);
$text-color: hsl(215, 51%, 70%);
$balance-color: hsl(178, 100%, 50%);
$line-color: hsl(215, 32%, 27%);

// desktop
$desktop-body-width: 1440px;
$desktop-body-height: 900px;
$desktop-card-width: 350px;
$desktop-card-height: 596px;
$desktop-card-img-side: 300px;

// mobile
$mobile-body-width: 375px;
$mobile-body-height: 667px;
$mobile-card-width: 328px;
$mobile-card-height: 544px;
$mobile-card-img-side: 277px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: $desktop-body-width;
  min-height: $desktop-body-height;
  @media screen and (max-width: $mobile-body-width) {
    min-width: $mobile-body-width;
    min-height: $mobile-body-height;
  }
  width: 100%;
  height: 100%;
  background-color: $bg-main-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: $bg-card-color;
  border-radius: 15px;
  width: $desktop-card-width;
  height: $desktop-card-height;
  @media screen and (max-width: $mobile-body-width) {
    width: $mobile-card-width;
    height: $mobile-card-height;
  }
  padding: 25px;

  font-family: "Outfit", sans-serif;
  font-size: 18px;

  &__main-img {
    position: relative;
    width: $desktop-card-img-side;
    height: $desktop-card-img-side;
    @media screen and (max-width: $mobile-body-width) {
      width: $mobile-card-img-side;
      height: $mobile-card-img-side;
    }

    &-bg {
      position: absolute;
      width: 100%;
      border-radius: 8px;
    }

    &:hover &-bg {
      opacity: 0.5;
      filter: invert(1) hue-rotate(140deg) contrast(1.4) saturate(1.6) blur(1.6px);
    }

    &-top {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    &:hover &-top {
      opacity: 1;
    }
  }

  &__link {
    color: $heading-color;
    text-decoration: none;
    &:hover {
      color: $balance-color;
    }
  }

  &__title {
    margin-top: 1em;
    margin-bottom: 0.8em;
    @media screen and (max-width: $mobile-body-width) {
      margin-bottom: 0.6em;
    }
    font-size: 1.25em;
    font-weight: 400;
    color: $heading-color;
  }

  &__text {
    @media screen and (max-width: $mobile-body-width) {
      font-size: 0.9em;
      line-height: 1.6em;
    }
    line-height: 1.4em;
    font-weight: 300;
    color: $text-color;
  }

  &__balance-and-time-left {
    display: flex;
    justify-content: space-between;
    margin-top: 1.35em;
    margin-bottom: 1.25em;
    @media screen and (max-width: $mobile-body-width) {
      margin-top: 0.8em;
      margin-bottom: 1em;
    }
  }

  &__balance {
    color: $balance-color;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    &-text {
      margin-left: 0.4em;
      font-size: 1em;
      @media screen and (max-width: $mobile-body-width) {
        font-size: 0.95em;
      }
    }
  }

  &__time-left {
    color: $text-color;
    display: flex;
    align-items: center;
    &-text {
      margin-left: 0.4em;
      font-size: 0.9em;
      @media screen and (max-width: $mobile-body-width) {
        margin-left: 0.4em;
        font-size: 0.85em;
      }
    }
  }

  &__hr {
    background: $line-color;
    height: 1px;
    border: 0px;
    margin-bottom: 1em;
    @media screen and (max-width: $mobile-body-width) {
      margin-bottom: 0.8em;
    }
  }

  &__creator {
    display: flex;
    align-items: center;
    &-avatar {
      width: 33px;
      border: solid 1px $heading-color;
      border-radius: 50%;
    }
    &-text {
      margin-left: 1em;
      color: $text-color;
      font-size: 0.9em;
      @media screen and (max-width: $mobile-body-width) {
        font-size: 0.85em;
      }
    }
  }
}
